<%- include('header.ejs') %>
<h1>Lorem ipsum dolor sit.</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, maiores corrupti quis provident ut labore voluptatum, beatae voluptas earum quisquam odio hic! Aperiam ipsum optio soluta earum libero nulla, voluptates vero unde repellendus. Fugiat, non eaque unde nisi doloribus, eum optio eos quidem exercitationem id cupiditate voluptatibus. Doloremque, odio a!</p>

<%- include('footer.ejs') %>
