<%- include('header.ejs') %>
<h1>Hello!</h1>
    <ol>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus consectetur similique a!</li>
        <li>Lorem ipsum dolor sit amet consectetur.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus nulla laudantium delectus cumque eveniet autem natus a facere debitis in!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus consectetur similique a!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae tempore commodi harum corrupti cumque, esse ratione provident eveniet dolores blanditiis soluta error quas eaque ad laborum, quaerat quisquam eius aperiam.</li>
    </ol>
<%- include('footer.ejs') %>

