<%- include('header.ejs') %>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur optio temporibus consectetur odit quo? Culpa, ea similique eos reiciendis eligendi cum, voluptates itaque necessitatibus natus veniam eveniet in et. Minus.</p>
<%- include('footer.ejs') %>