<%- include('header.ejs') %>

<h2>Sign In</h2>
    <form action="/signin" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Submit</button>
    </form>
<%- include('footer.ejs') %>
